.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 08px 16px;
  gap: 14px;
  z-index: 100;
  border-bottom: 1px solid rgb(220, 220, 220);
  background-color: rgb(240, 240, 240);
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.page-logo {
  width: 30px;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}

.search-box { 
  width: 100%;
  padding: 10px 40px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  outline: none;
}

.search-container input:focus {
  border-color: #3b82f6;
  box-shadow: 0 6px 18px rgba(59,130,246,0.15);
}

.search-icon,
.voice-search-icon {
  height: 20px;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.voice-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.cart-icon-container {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-icon {
  height: 30px;
}

.cart-quantity {
  position: absolute;
  top: -3px;
  left: -3px;
  background-color: rgb(236, 26, 26);
  color: white;
  border: none;
  border-radius: 16px;
  padding: 1px 4px;
  font-size: 0.7rem;
  font-weight: bold;
  display: none;
}