@import "tailwindcss";

* {
  font-family: Google Sans, Roboto, sans-serif;
}

body {
  background-color: rgb(240, 240, 240);
}

h1 { font-size: 2em; font-weight: 700 }
h2 { font-size: 1.5em; font-weight: 700 }
h3 { font-size: 1.17em; font-weight: 700 }
h4 { font-size: 1em; font-weight: 700 }
h5 { font-size: 0.83em; font-weight: 700 }
h6 { font-size: 0.67em; font-weight: 700 }

@theme {
  --breakpoint-xs: 300px;
  /* --breakpoint-sm: 500px;
  --breakpoint-md: 800px; */
  --color-primary: rgb(240, 240, 240);
  --color-footer: rgb(226, 226, 226);
  --color-cart: rgb(248, 248, 248);
  --color-accent: #2F6BFF;
  --color-footer-bg: #04173B;
  --color-footer-text: #AAB4C5;
  --color-divider: #2E466F;
}
