.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 24px;
  margin-bottom: 20px;
  z-index: 100;
  border-bottom: 1px solid rgb(220, 220, 220);
  background-color: rgb(240, 240, 240);
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.cart-icon-container {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-icon {
  height: 30px;
}