body {
  background-color: rgb(240, 240, 240);
  /* background-color: rgb(28, 30, 34); */
  padding: 10px 20px;
  padding-top: 80px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.page-logo {
  width: 30px;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.search-box { 
  width: 100%;
  padding: 10px 40px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  outline: none;
}

.search-container input:focus {
  border-color: #3b82f6;
  box-shadow: 0 6px 18px rgba(59,130,246,0.15);
}

.search-icon,
.voice-search-icon {
  height: 20px;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.voice-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.category-toggle {
  display: flex;
  overflow: auto;
  gap: 10px;
  margin-bottom: 20px;
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Hide radios */
.category-toggle input {
  display: none;
}

.category-toggle label {
  padding: 10px 18px;
  width: 100%;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  transition: all .15s ease;
  white-space: nowrap;
  text-align: center;
}

.category-toggle input:checked + label {
  background: #2F6BFF;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.cart-container {
  background-color: rgb(248, 248, 248);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 450px;
  z-index: 3000;
  transform: translateX(110%);
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.cart-container::-webkit-scrollbar {
  display: none;
}

.cart-container.open {
  transform: translateX(0);
  pointer-events: all;
}

.body .cart-container.open {
  overflow: hidden;
}

.cart-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(8px);
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
}

.cart-backdrop.open {
  opacity: 1;
  pointer-events: all;
}

.cart-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid rgb(207, 207, 207);
  flex-shrink: 0;
}

.cart-back {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}

.cart-back img {
  width: 14px;
}

.cart-item-container {
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
}

.cart-item {
  background-color: white;
  display: flex;
  gap: 16px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.cart-item-image {
  width: 80px;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title-container span {
  font-weight: bold;
}

.delete-button {
  background-color: transparent;
  border: none;
}

.delete-button img {
  height: 16px;
}

.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-section {
  background-color: rgb(231, 231, 231);
  padding: 4px;
  border-radius: 6px;
}

.quantity-section button {
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  background-color: white;
}

.quantity-section .quantity {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: bold;
}

.cart-footer {
  flex-shrink: 0;
  background-color: white;
  padding: 1rem;
  border-top: 1px solid rgb(207, 207, 207);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.summary-label {
  font-size: 1.1rem;
}

.summary-value {
  font-size: 1rem;
  font-weight: bold;
}

.delivery-fee {
  color: rgb(68, 68, 68);
  font-size: 1rem;
  font-weight: 500;
}

.sub-total {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.subtotal {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.total {
  margin-bottom: 20px;
}

.total .summary-label,
.total .summary-value{
  font-size: 1.1rem;
  font-weight: bold;
}

.cart-actions button {
  background-color: #2F6BFF;
  border: none;
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(86, 86, 211, 0.8);
}

.product-card-container {
  width: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  align-items: stretch;
  margin-bottom: 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.product-image-container {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
}

.product-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  margin-bottom: 8px;
}

.author {
  color: rgb(90, 90, 90);
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.price {
  color: #2F6BFF;
  font-weight: bold;
}

.star-rating {
  height: 14px;
}

.add-to-cart-button {
  background-color: #2F6BFF;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  gap: 4px;
  cursor: pointer;
  margin-top: auto;
}

.checkmark {
  width: 20px;
}

.add-to-cart-button:active {
  opacity: 0.9;
}

.add-to-cart-button img {
  height: 16px;
}

.cart-icon {
  height: 16px;
}

.clicked {
  background-color: #2F6BFF;
  color: white;
}

.product-details-modal-overlay {
  background: rgba(0,0,0,0.5);
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  backdrop-filter: blur(8px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.product-details-modal-overlay.open {
  opacity: 1;
  pointer-events: all;
}

.product-details-modal-overlay.open .book-details {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.book-details {
  background: white;
  border-radius: 10px;
  width: 90%;
  max-width: 650px;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  transform: translateY(20px) scale(0.96);
  opacity: 0;
}

.close-modal {
  background: white;
  border: none;
  padding: 5px 12px;
  align-self: flex-end;
  font-size: 1.3rem;
}

.close-icon {
  height: 14px;
}

.book-details .img-container {
  margin: auto;
  width: 150px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.book-details h1 {
  text-align: center;
}

.book-details .author {
  color: #2F6BFF;
  text-align: center;
}

.ratings {
  text-align: center;
  margin-bottom: 10px;
}

.desc-section h3 {
  margin-bottom: 10px;
}

.description {
  color: rgb(90, 90, 90);
  margin-bottom: 20px;
}

.bottom-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}

.bottom-bar :first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-bar strong {
  font-size: 1.2rem;
}

.total-price {
  color: rgb(99, 99, 99);
  font-size: 0.8rem;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: #2F6BFF;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.add-button:active {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .product-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .product-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 801px) {
  .product-card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}