body {
  background-color: rgb(240, 240, 240);
  padding: 10px 20px;
}

.categories {
  display: flex;
  /* align-items: center; */
  overflow: auto;
  gap: 10px;
  margin-bottom: 20px;
  -ms-overflow-style: none; /* IE / Edge */
  scrollbar-width: none;    /* Firefox */
}

.categories::-webkit-scrollbar {
  display: none; /* Chrome / Safari */
}

.categories button {
  background-color: white;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid rgb(212, 212, 212);
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.categories button:focus {
  background-color: blue;
  color: white;
}

.product-card-container {
  width: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  align-items: stretch;/*new*/
}

.product-card {
  /* border: 1px solid gray; */
  /* width: 160px; */
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.product-image-container {
  /* background-color: rgb(30, 74, 88); */
  width: 100%;
  /* height: 240px; */
  border-radius: 12px;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  /* margin-bottom: 8px; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  margin-bottom: 8px;
}

.author {
  color: rgb(90, 90, 90);
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.price {
  color: blue;
  font-weight: bold;
}

.star-rating {
  height: 14px;
}

.add-to-cart-button {
  background-color: rgb(19, 68, 226);
  background-color: rgb(217, 228, 255);
  border: none;
  color: white;
  color: blue;
  font-weight: bold;
  font-size: 0.8rem;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  gap: 4px;
  cursor: pointer;
  margin-top: auto;
}

.add-to-cart-button img {
  height: 16px;
}

@media (max-width: 500px) {
  .product-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .product-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 801px) {
  .product-card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* cart styles */
.cart-container {
  background-color: lightcoral;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  padding: 1rem;
}

.cart-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 16px;
}

.cart-item {
  background-color: white;
  display: flex;
  padding: 10px;
}

.cart-item-image {
  width: 70px;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  background-color: transparent;
  border: none;
}

.delete-button img {
  height: 20px;
}

.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-section {
  background-color: rgb(216, 216, 216);
  padding: 4px;
  border-radius: 6px;
}

.quantity-section button {
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
}

.quantity-section .quantity {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: bold;
}