.category-toggle {
  display: flex;
  overflow: auto;
  gap: 10px;
  margin-bottom: 20px;
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Hide radios */
.category-toggle input {
  display: none;
}

.category-toggle label {
  padding: 10px 18px;
  width: 100%;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  transition: all .15s ease;
  white-space: nowrap;
  text-align: center;
}

.category-toggle input:checked + label {
  background: #2F6BFF;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}